<div class="row">
  <div class="col-xs-12">
    <img src="" class="image-responsive" alt="">

  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <h1>Recipe name</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
       Manage Recipe name
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Edit</a></li>
        <li><a href="#">Delete</a></li>
        <li><a href="#">Add to shopping list</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <p>Description</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
   ingredients
  </div>
</div>
