<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">
      <i class="fa fa-plus"></i>
      Add Recipe
    </button>
    <hr>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Recipes
          </h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Ingredients</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let recipe of recipes">
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.description }}</td>

                <td>
                  <img [src]="recipe.imagePath" alt="{{ recipe.name }}" width="100" />
                </td>
                <td>
                  ingredients
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      <app-recipe-item></app-recipe-item>
    </div>
  </div>
</div>



